header
  position: absolute
  //padding-top: 5vmin
  top: -10vmin
  left: 0
  right: 0

.outer-h
  width: 100%
  height: $size + $padding
  padding: $padding 0 0 0

  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  margin: auto

.outer-w
  width: $size
  height: $size
  position: relative
  margin: auto
  overflow: hidden
