mixin curvedText(text, reverse)
  if reverse
    - var textArray = text.split('').reverse()
    - var textProps = 'reverse'
    - var btnPos = 'lower'
  else
    - var textArray = text.split('')
    - var textProps = 'normal'
    - var btnPos = 'upper'
  .box(class= btnPos)
  each char, index in textArray
    span(id=text + '-' + index)
      div(class= textProps)= char
      
mixin setTime(name)
  span(id= name + '-less').btn <i class='fa fa-chevron-left'></i>
  span(id= name + '-duration') 00
  span(id= name + '-more').btn <i class='fa fa-chevron-right'></i>
