#menu
  z-index: 2
  width: 40%
  height: 40%
  background: #ddd
  border: 20px solid $dark-grey
  border: 0.04 * $size solid $dark-grey
  +border-radius(50%)
  text-align: center

h1
  margin-top: 12%
  font-size: 2em
  font-size: 0.07 * $size
  margin-bottom: 7%

.row
  height: 15%
  width: 100%
  position: relative

.inline
  display: inline-block
  position: absolute
  vertical-align: middle

p.inline
  font-size: 1em
  font-size: 0.03 * $size
  top: 20%

  @media screen and (max-width: 450px)
    font-size: 1em
    font-size: 0.035 * $size

#start-text
  left: 45%

#counter-text
  left: 7%

#strict-text
  right: 8%
