.container
  width: 500px
  height: 500px
  width: $size
  height: $size
  +border-radius(50%)
  border: 20px solid #222
  border: 0.03 * $size solid #222
  overflow: hidden
  background: #222

.center
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  margin: auto
