#settings-menu
  background: $bg
  width: 273px
  height: 273px
  +border-radius(50%)
  border:
    width: 5px
    style: solid

.session
  position: absolute
  top: 10%
  width: 100%

.break
  position: absolute
  bottom: 10%
  width: 100%

#reset,
#pause,
#break,
#session
  cursor: pointer

  .no-touch &:hover
    text-shadow: 2px 2px 20px white

#session-less,
#session-more,
#break-less,
#break-more
  cursor: pointer

.btn
  display: inline-block
  width: 20%
  height: 1.2em
