doctype html
html(lang="en")
  head
    title TIC TAC TOE
    meta(charset="utf-8")
    
  body
    .container.center
      #tl.box
      #tr.box
      #bl.box
      #br.box
      #v.line.center
      #h.line.center
      .circle.center
        #menu.center
