include ./templates/mixins

doctype html
html(lang="en")
  head
    title Simon Says
    meta(charset="utf-8")
    link(href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css')

  body
    .container.center
      #settings.large-text
        #session.green
          +curvedText('session', false)
        #break.green
          +curvedText('break', true)
        #pause.hide.green
          +curvedText('pause', false)
        #reset.hide.green
          +curvedText('reset', true)
      #settings-menu.center.green
        .session.small-text
          +setTime('session')
        .break.small-text
          +setTime('break')
      #timer-menu.center.minimize
        #timer-border.attention.green.center
        #timer-inner.center
          .firefox-nonsense
            h2#timer.green 25:00
